
# Intellij IDEA
/.idea/
# Obsidian
!/.obsidian/

!/.obsidian/plugins/

/.obsidian/plugins/claudian/
/.obsidian/plugins/folder-notes/
/.obsidian/plugins/dataview/
/.obsidian/plugins/templater-obsidian/