
# Intellij IDEA
/.idea/

!/.claude/

！/.claude/commands/
！/.claude/sessions/
！/.claude/skills/

# Obsidian
/.obsidian/
/workspace.json

!/.obsidian/plugins/

/.obsidian/plugins/claudian/
/.obsidian/plugins/folder-notes/
/.obsidian/plugins/dataview/
/.obsidian/plugins/templater-obsidian/
/.obsidian/plugins/quickadd/
