
# Intellij IDEA
/.idea/

/.claude/

# Obsidian
!/.obsidian/
/workspace.json

!/.obsidian/plugins/

/.obsidian/plugins/claudian/
/.obsidian/plugins/folder-notes/
/.obsidian/plugins/dataview/

/.obsidian/plugins/dataview/
/.obsidian/plugins/templater-obsidian/